.main-wrapper {
    div > main,
    &:not(:has(> div)) {
        background-image: url("/img/doc-bg.png");
        z-index: 0;
        background-attachment: fixed;
        background-size: cover;
    }

    &.archive-page {
        div > main,
        &:not(:has(> div)) {
            background-image: url("/img/doc-bg-archive.png");
        }
    }

    &.creative-page {
        div > main,
        &:not(:has(> div)) {
            background-image: url("/img/doc-bg-creative.png");
        }
    }
}
