.docs-table {
  backdrop-filter: blur(3px);
  width: 100%;
  table-layout: fixed;

  td,
  th {
    height: 30px;
    padding: 7px 20px;

    &.docs-table-name {
      width: 40%;
    }

    &.docs-table-wiki {
      width: 20%;
    }

    &.docs-table-version {
      width: 10%;
    }
  }

  .center-text {
    text-align: center;
  }

  .wiki {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-icon {
    margin-left: 5px;
    font-size: 20px;
  }
}
