.info-box {
    display: flex;
    position: relative;
    height: 130px;

    h1,
    h4 {
        text-shadow: 0px 0px 20px #0a154177;
    }

    img {
        filter: brightness(70%);
        border-radius: 17px;
        position: absolute;
        margin: 7px 0 7px 0;
        width: 100%;
        z-index: -1;
        height: 120px;
        object-fit: cover;
    }

    &.spaced {
        margin-top: 20px;
    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        .title {
            top: 20px;
            span {
                color: var(--ifm-color-primary);
            }
        }

        .description {
            bottom: 20px;
            color: var(--ifm-color-primary);

            h4 {
                margin-bottom: 0;
            }
        }

        .title,
        .description,
        .status,
        .connected {
            padding: 0px 30px;
            position: absolute;
        }

        .status {
            display: flex;
            align-items: center;
            top: 20px;
            right: 0px;
            .on {
                color: var(--status-on);
            }
            .off {
                color: var(--status-off);
            }
        }

        .connected {
            bottom: 20px;
            right: 0px;
        }
    }
}
