.accordion#dimensions {
    --accordion-decoration-color: #0ea7ff;
}

.accordion#mobs {
    --accordion-decoration-color: #38d3b6;
}

.accordion#biomes {
    --accordion-decoration-color: #60cb26;
}

.accordion#items {
    --accordion-decoration-color: #f3ba00;
}

.accordion#misc {
    --accordion-decoration-color: #ffc07c;
}
