.accordion#important-commands {
    --accordion-decoration-color: #d6cee5;
}

.accordion#datapacks-and-terrain {
    --accordion-decoration-color: #ffc07c;
}

.accordion#mods-and-plugins {
    --accordion-decoration-color: #f33b57;
}
